@charset "utf-8";

@-webkit-keyframes fadeIn-title { from { opacity:0; top:58%;} to { opacity:1; top:50%;} }
@-moz-keyframes fadeIn-title { from { opacity:0; top:58%;} to { opacity:1; top:50%;} }
@keyframes fadeIn-title { from { opacity:0; top:58%;} to { opacity:1; top:50%;} }

@-webkit-keyframes zoom {
    from {-webkit-transform:translate(-50%,-50%) scale(0)} 
    to {-webkit-transform:translate(-50%,-50%) scale(1)}
}

@-moz-keyframes zoom {
    from {-webkit-transform:translate(-50%,-50%) scale(0)} 
    to {-webkit-transform:translate(-50%,-50%) scale(1)}
}

@keyframes zoom {
    from {transform:translate(-50%,-50%) scale(0)} 
    to {transform:translate(-50%,-50%) scale(1)}
}

@-webkit-keyframes fade-up { from { opacity:0; top:48px;} to { opacity:1; top:0;} }
@-moz-keyframes fade-up { from { opacity:0; top:48px;} to { opacity:1; top:0;} }
@keyframes fade-up { from { opacity:0; top:48px;} to { opacity:1; top:0;} }

/*@font-face {
    font-family: "ubuntu";
    src: url("../font/Ubuntu-B.ttf");
}*/

html {
  overflow-x: hidden;
}

body{
	margin:0;
	position: relative; 
	background:#ffffff;
	overflow-x: hidden;
}

.standard-vertical-padding{
	padding: 24px 0;
}

.q11-standard-gray{
	color:#555;
}

.q11-standard-orange{
	color:#ffb900;
}

/*
fixing bootstrap cantainer-fluid
causing horizontal scroll bar
*/
.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

#banner-section{
	text-align:left;
	margin:auto; 
	position: relative;
	overflow: hidden;
	min-height:300px;
}

section > h3{
    text-align:center;
    color: black;
}

.banner-title{
	color:black;
	margin: 0 auto;
	padding: 0;
    display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
    width: 800px;
	transform: translate3d(-50%, -50%, 0);
	animation: fadeIn-title 1s ease-in-out;
}

#profile-summary{
    width: 600px;
    float: right;
}

#profile-summary h3{
    font-size: 32px;
}

#profile-summary p{
    color: #333;
    margin-bottom: 8px;
}

#profile-summary span{
    
	color: #666;
    font-size:14px;
}

.banner-title img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    float: left;
    margin-right: 20px;
    margin-top: 15px;
}

.section{
	text-align: center;
    width: 1200px;
	float: center;
    /* height: 200px; */
	display: block;
	margin: 0 auto; 
}

#link-section > a{
	padding:6px 12px;
	margin: 0px 12px;
	border-radius: 6px;
	display:inline-block;
	width:120px;
	border-radius: 25px;
	background:white;
	border: 1px solid;
}

#link-section > a:hover{
	filter: brightness(95%);
}

.section-divider{
	font-size: 24px;
	margin: 20px 0px;
}

#contact-section-content{
	text-align:left;
	width: 500px;
	margin: 0 auto; 
}

.contact-medium{
	width:150px;
	display: inline-block;
}

a:link {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:visited {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:hover {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

a:active {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

#footer{
	color:#000;
	text-align:center;
	height:32px;
}

.copyright-p{
	font-size:12px;
	margin-bottom:0;
}

@media (max-width: 1400px){

	.container {
		max-width: 960px;
	}

}

@media (max-width: 1200px){

	.container {
		max-width: 768px;
	}
	
}

@media (max-width: 800px){
	
    .banner-title img{
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 24px;
    }
}

@media (max-width: 575px){

	.standard-vertical-padding{
		padding: 48px 0;
	}
	
	#banner-logo{
		height:64px;
		width:64px;
		border-radius:3px;
	}
	
	.banner-title h2{
		font-size:24px;
	}
	
	h3{
		font-size:20px;
	}
	
	h5{
		font-size:16px;
	}
	
	p{
		font-size:16px;
	}
}

